.App {
  padding: 5px;
}

.report-form {
  display: none;
}
.report-form.visible {
  display: block;
}

.report-form table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.report-form table td {
  vertical-align: top;
  border: 1px solid gray;
  border-left: 0;
  border-right: 0;
  padding: 5px;
}

.report-form table td.report-form-input {
  width: 40%;
}